## Вычисления с помощью Numpy

#### №1

In [1]:
import numpy as np
a = np.array([[1, 6], [2, 8], [3, 11], [3, 10], [1, 7]])
mean_a = a.mean(axis=0)
mean_a

array([2. , 8.4])

#### №2

In [2]:
a_centered = a - mean_a
a_centered.shape

(5, 2)

#### №3

In [3]:
a_cenetered_sp = a_centered[:, 0] @ a_centered[:, 1]
a_cov = a_cenetered_sp / (a.shape[0] - 1)
a_cov

2.0

#### №4

In [4]:
a_cov_2 = np.cov(a.T)[0, 1]
a_cov_2

2.0

## Работа с данными в Pandas

#### №1

In [5]:
import pandas as pd
authors = pd.DataFrame({
    "author_id": [1, 2, 3],
    "author_name": ["Тургеньев", "Чехов", "Островский"]
})

books = pd.DataFrame({
    "author_id": [1, 1, 1, 2, 2, 3, 3],
    "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    "price": [450, 300, 350, 500, 450, 370, 290]
})

#### №2

In [6]:
authors_price = pd.merge(authors, books, on='author_id', how='inner')
authors_price

   author_id author_name            book_title  price
0          1   Тургеньев           Отцы и дети    450
1          1   Тургеньев                 Рудин    300
2          1   Тургеньев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

#### №3

In [7]:
authors_price.sort_values(by="price", inplace=True)
top5 = authors_price.nlargest(5, 'price')
top5.reset_index(drop=True, inplace=True)
top5

   author_id author_name         book_title  price
0          2       Чехов   Толстый и тонкий    500
1          1   Тургеньев        Отцы и дети    450
2          2       Чехов    Дама с собачкой    450
3          3  Островский              Гроза    370
4          1   Тургеньев  Дворянское гнездо    350

#### №4

In [70]:
authors_stats = authors_price
authors_stats["min_price"] = authors_price['price']
authors_stats["max_price"] = authors_stats['price']
authors_stats["mean_price"] = authors_stats['price']
authors_stats = authors_stats.groupby("author_name")
authors_stats.agg({"min_price": "min", "max_price": "max", "mean_price": "mean"})

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургеньев          300        450  366.666667
Чехов              450        500  475.000000